<template>
  <div class="books">
    <h1>Books</h1>  
    <Book v-for="(book, index) in books" :key="index" :book="book" />
  </div>
</template>

<script>
import bookService from '../services/book-service'
import Book from '../components/Book'

export default {
    name: "Books",
    components: {
      Book
    },
    created() {
      bookService.getAll()
        .then(books => this.books = books.data);
    },
    data() {
      return {
          books: []
      }
    }
}
</script>

<style>
</style>