<template>
  <h1>Register</h1>
</template>

<script>
export default {
    name: "Register",    
    props: {
      book: Object
    },
    data() {
      return {
          // State of the component
      }
    }
}
</script>

<style>
</style>