<template>
    <div class="book">
      <div class="box">
        <img :src="`${book.cover}`" alt="Book cover">
        <p>
            <strong>{{ book.title }}</strong>
        <br>
            {{ book.author }}
        </p>
      </div>
    </div>  
</template>

<script>
  export default {
    name: "Book",    
    props: {
      book: Object
    },
    data() {
      return {
          // State of the component
      }
    }
  }
</script>

<style scoped>
.box {
  max-width: 60%;
  padding-bottom: 15px;
  border-radius: 5px;
  border-color: darkgrey;
  margin: 5px auto;
}

img {
  border-radius: 5px;
}

</style>